@{
    <div class="row-head">
        <h3>商业授权价格</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">版本授权许可</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:300px;">版本授权许可</td>
                <td>商业授权</td>
            </tr>
            <tr>
                <td>授权价格（人民币）</td>
                <td>30000元</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>技术服务</th>
                <th>标准服务</th>
                <th>专业服务</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>服务价格（人民币）</strong></td>
                <td>5000元</td>
                <td>10000元</td>
            </tr>
            <tr>
                <td>网络（QQ/MSN/Email）</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>电话技术支持</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>指定工程师服务</td>
                <td><span class="icon-no"></span></td>
                <td>高级工程师</td>
            </tr>
            <tr>
                <td>产品所须环境安装</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>产品安装</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>官方主题安装</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>官方插件安装</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>产品升级指导</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>安装配置 FTP 服务</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>网站系统环境健康体检四次</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>网站系统环境健康体检四次</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>Web 负载均衡</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>产品自身的使用问题</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>品自身bug反馈及响应</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td><strong>免费升级期限</strong></td>
                <td>无限</td>
                <td>无限</td>
            </tr>
            <tr>
                <td><strong>服务期限</strong></td>
                <td>一年</td>
                <td>一年</td>
            </tr>
        </tbody>
    </table>

    <div>
        <p><strong>说明：以下情况不属于服务范围</strong></p>
        <p>1.自行修改或使用非原始 奇鸟CMS 程序代码产生的问题；</p>
        <p>2.自行对数据库进行直接操作导致数据库出错或者崩溃；</p>
        <p>3.插件的安装以及由于安装插件造成的故障；</p>
        <p>4.服务器、虚拟主机原因造成的系统故障；</p>
        <p>5.二次开发或定制；</p>
        <p>6.灾难性损毁；</p>
        <p>7.其他。</p>
    </div>
}
