@{
    <div class="row-head">
        <h3>付款方式</h3>
    </div>

    <div class="paymethod">
        <table style="width:100%;">
            <tr>
                <td>帐号：<em class="row-number">440225 9009 1001 13227</em></td>
                <td rowspan="3" style="text-align:right;"><img src="@themeurl("/images/icbc.png")" /></td>
            </tr>
            <tr>
                <td>开户行：<strong class="row-bank">中国工商银行股份有限公司成都红星中路支行</strong></td>
            </tr>
            <tr>
                <td>户名：<em class="row-name">成都奇鸟软件有限公司</em></td>
            </tr>
        </table>
    </div>

    <div class="paymethod">
        <table style="width:100%;">
            <tr>
                <td>帐号：<em class="row-number">qiniaosoft@163.com</em></td>
                <td rowspan="3" style="text-align:right;"><img src="@themeurl("/images/paypal.png")" /></td>
            </tr>
            <tr>
                <td>帐户名：<strong class="row-bank">成都奇鸟软件有限公司</strong></td>
            </tr>
        </table>
    </div>
}
