@{
    <div class="row-head">
        <h3>模版订制及首次安装价格</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>版本</th>
                <th>标准版</th>
                <th>专业版</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>UI设计师</td>
                <td>普通设计师</td>
                <td>高级设计师</td>
            </tr>
            <tr>
                <td>赠送空间（一年）</td>
                <td>500M</td>
                <td>1G</td>
            </tr>
            <tr>
                <td>赠送域名（一年）</td>
                <td>.com/.cc/.net/.cn/.org</td>
                <td>.com/.cc/.net/.cn/.org</td>
            </tr>
            <tr>
                <td>环境配置及程序安装</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>SEO优化</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>代备案</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>免费技术支持服务期限</td>
                <td>一年（标准）</td>
                <td>一年（专业）</td>
            </tr>
            <tr>
                <td>价格（人民币）</td>
                <td>6000元</td>
                <td>12000元</td>
            </tr>
        </tbody>
    </table>

    <div class="row-head">
        <h3>技术支持服务</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>技术支持服务级别</th>
                <th>标准服务</th>
                <th>专业服务</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>价格（人民币）</strong></td>
                <td>3000元</td>
                <td>6000元</td>
            </tr>
            <tr>
                <td>高级工程师</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td colspan="3"><strong>服务方式</strong></td>
            </tr>
            <tr>
                <td>技术支持专用QQ（每客户仅限一号）</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>网络（QQ/MSN/Email）</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>电话技术支持</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td colspan="3"><strong>咨询与培训</strong></td>
            </tr>
            <tr>
                <td>产品使用咨询</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td>产品使用和维护培训（仅提供远程方式培训）</td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td><strong>程序升级</strong></td>
                <td><span class="icon-yes"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td colspan="3"><strong>数据安全</strong></td>
            </tr>
            <tr>
                <td>数据备份</td>
                <td>提供半年内备份（每月一次备份）</td>
                <td>提供一年内备份（每周一次备份）</td>
            </tr>
            <tr>
                <td>数据迁移（迁移程序及数据库到另一台服务器）</td>
                <td><span class="icon-no"></span></td>
                <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
                <td><strong>服务期限</strong></td>
                <td>一年</td>
                <td>一年</td>
            </tr>
        </tbody>
    </table>

    <div>
        <p><strong>说明：以下情况不属于服务范围</strong></p>
        <p>1.自行修改 奇鸟CMS 程序代码产生的问题；</p>
        <p>2.自行对数据库进行直接操作导致数据库出错或者崩溃；</p>
        <p>3.插件的安装以及由于安装插件造成的故障；</p>
        <p>4.服务器、虚拟主机原因造成的系统故障；</p>
        <p>5.自行迁移服务器或数据造成的故障；</p>
        <p>6.二次开发或定制；</p>
        <p>7.灾难性损毁；</p>
        <p>8.其他。</p>
    </div>
}
