.checkbox-col {
    width:30px;
}
.table-row-tool {
    margin-top:10px;
    font-size:12px;
    visibility:hidden;
}
.table-row-tool a {
    display:inline-block; padding-right:5px;
}
.dataTable tr:hover .table-row-tool {
    visibility:visible;
}
.dataTable th a, .dataTable th a:hover, .dataTable th a:visited, .dataTable th a:active {
    display: block;
    text-decoration: none;
}

.table-row-tool .tool-edit {

}
.table-row-tool .tool-delete {
    
}

.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.dynamicTile {
    -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
    
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}
.dynamicTile .media-item {
    position:relative;
}
.tile {
    position:relative;
    overflow:hidden;
    border:solid 1px #efefef;
    cursor:pointer;
    background-color:#efefef;
}
.dynamicTile .media-item-selelcted .tile {
    border:5px solid #1e8cbe;
}
.dynamicTile .media-item-icon {
    display:none;
    position:absolute;
    top:-3px; 
    right:-3px;
    z-index:10;
    background-color:#1e8cbe;
    color:white;
    margin:1px;
    border-radius: 3px;
    width: 24px;
    cursor: pointer;
    text-align:center;
}
.dynamicTile .media-item-icon-boder {
    border: 1px solid white;
    margin: 1px;
    border-radius: 3px;
}
.dynamicTile .media-item-selelcted .media-item-icon {
    display:block !important;
}

.dynamicTile .tilecaption{
    opacity: 0.3;
    display:block;
    position:absolute;
    bottom:0;
    text-align: center;
    color:white;
    background-color:gray;
    width:100%;
    vertical-align:bottom;
    margin:0; 
    padding:0; 
    border:0;
    -webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    -o-user-select: text; 
    user-select:text;
}

.mask-layer{ position:absolute; left:0; top:0;  width:100%; height:100%; background-color:Black; z-index:2000; filter:alpha(Opacity=50); opacity: 0.5;}
.mask-content{ position:absolute; z-index:2001; left:0; top:0; }
.mask-content-layer{ position:absolute; left:0; top:0; z-index:10002; background-color:White; filter:alpha(Opacity=10); opacity: 0;}
.mask-loading{ width:60%;  background-color:White; padding:20px 100px; }
.mask-loading .progress{ margin:0; padding:0;}


.sortable .placeholder {
    outline: 1px dashed #4183C4;
    opacity: .5;
    max-width:400px;
    _width:100%;
}

ol.sortable  {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.sortable {
    margin-bottom: 1.8em;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
    display:block;
    width:100%;
}
.sortable li .leaf-body {
    max-width:400px;
    _width:100%;
}
.sortable li .drag-title {
    border: 1px solid #dfdfdf;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 10px 0 10px 15px;
    margin: 0;
    cursor: move;
    background: #fafafa;
}
.sortable li .drag-title:hover {
    border-color:#999;
}
.sortable li .drag-title .fa {
    display:block; 
    padding:10px 15px;
    margin-top:-10px;
    cursor:pointer;
}
.sortable li .drag-title .fa-sort-desc {
    margin-top:-5px;
}
.sortable li .drag-body {
    width:100%;
    margin:0;
}
.sortable li .drag-title .text-bold {
    color:black;
}

.sortable li.mjs-nestedSortable-branch div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}

.disclose {
	cursor: pointer;
	width: 10px;
	display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
	content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
	content: '- ';
}