@{
    Layout = svroot + "/Views/Shared/_layout.cshtml";
}

@css("/styles/inner.css")

<div id="outermain" class="inner">
    <div class="container">
        <div class="content-404">404. <br />页面未找到.</div>
    </div>
</div>
