@{
    Layout = svroot + "/Views/Shared/_layout.cshtml";
    activeflag = "contact";

    post data = post("contact");
}

@css("/styles/inner.css")

<div id="outermain" class="inner">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <div class="five columns alpha">
                <h2 class="titleBold">欢迎联系我们</h2>
                <div id="contactform">
                    <p>如果您有任何问题，包括技术问题、业务咨询、以及商务合作等，我们欢迎您积极与我们取得联系。</p>
                    <p>您可以通过右侧的联系电话或地址找到我们，当然也可以给我们发邮件，我们都会积极响应您的 ^^。</p>
                </div>
            </div>
            <div class="seven columns omega">
                <h2 class="titleBold">联系方式</h2>
                <div class="">
                    <h5 class="titleSemibold">四川省成都市武侯区科华南路,<br />东苑A区, 8-1-1402</h5>
                    <ul class="noList">
                        <li><span class="txtleft">联系电话1:</span><span class="txtright">+86 159 0817 6838</span></li>
                        <li><span class="txtleft">联系电话2:</span><span class="txtright">+86 130 8446 3353</span></li>
                        <li><span class="txtleft">联系电话3:</span><span class="txtright">+86 131 9850 2032</span></li>
                        <li><span class="txtleft">Email:</span><span class="txtright"><a href="mailto:qiniaosoft@163.com">qiniaosoft@163.com</a></span></li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
        </section>
    </div>
</div>
